body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #005cc6;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; /* To apply border-radius to the table */
}

thead {
    background-color: #005cc6;
    color: white;
}

thead th {
    padding: 10px;
    text-align: center;
    border-right: 1px solid black;
}

thead th:last-child {
    border-right: none;
}

tbody tr {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    padding: 10px;
    text-align: center;
    border-right: 1px solid rgb(60, 60, 60);
}

tbody td:last-child {
    border-right: none;
}

tbody td.question {
    text-align: left; /* Align questions to the left */
}

.topic-box, .level-box {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-size: 0.9rem;
}

.topic-box {
    background-color: #007bff;
}

.topic-box.arithmetic {
    background-color: #ff7f50;
}

.topic-box.variables {
    background-color: #6a5acd;
}

.topic-box.functions {
    background-color: #20b2aa;
}

.level-box.easy {
    background-color: #28a745;
}

.level-box.medium {
    background-color: #ffc107;
}

.level-box.hard {
    background-color: #dc3545;
}

.answer-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.answer-icon:hover {
    transform: scale(1.2);
}