body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #8ea5ff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #0059ff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0062cc;
}

header {
    background-color: #005cc6;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header .mysql-logo {
    width: 40px;
    height: 40px;
}

main {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.toc {
    flex: 1;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toc h2 {
    font-size: 1.5rem;
    color: #005cc6;
}

.toc ul {
    list-style: none;
    padding: 0;
}

.toc ul li {
    margin-bottom: 10px;
}

.toc ul li a {
    text-decoration: none;
    color: #005cc6;
    font-size: 1rem;
}

.content {
    flex: 3;
}

.note {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.note h2 {
    color: #005cc6;
    font-size: 1.8rem;
    margin-top: 0;
}

.note p {
    font-size: 1rem;
    margin: 10px 0;
}

.code-container {
    position: relative;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #005cc6;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: #003f8a;
}

.footer {
    margin-left: 2.5rem;
    background-color: #005cc6;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
    font-size: 16px;
}

@media (max-width: 768px) {
    .updates-btn {
        position: relative;
        top: -5px;
        right: -5px;
    }

    .learning-box {
        margin-top: 8px !important;
    }

    .practice-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .practice-container img {
        width: 100%;
        max-width: 200px;
        margin-bottom: 10px;
    }
}
